# Binaries files
*.exe
*.exe~
*.dll
*.so
*.dylib

# Local configuration files
.env
.env.local
*.local.yaml
*.local.yml

# IDE
.github
.vscode
.idea

# Go specific files
vendor/
**/go.work

# System files
.DS_Store
Thumbs.db

# Temporary files
**/tmp/
**/temp/

# Logs
**/logs/
**/*.log

# Test binary, build with `go test -c`
*.test

# Documentation
**/docs/
**/*.md
!README.md

# Git files
.git/
.gitignore