# APP
APP_ENV=local # App environment (types: local, dev, prod)
APP_ID=app-id
APP_SERVICE_NAME="msa-messenger-gateway"
APP_SERVICE_VERSION="1.0.0"
APP_ENABLE_METRICS=true
APP_OTLP_ENDPOINT=localhost:4317

APP_ID=app-id

# HTTP Server
HTTP_SERVER_ADDRESS=0.0.0.0:8080
HTTP_SERVER_TIMEOUT=30s
HTTP_SERVER_IDLE_TIMEOUT=60s

# CORS
CORS_ALLOWED_ORIGINS=http://localhost:8080
CORS_ALLOWED_METHODS="GET, POST, PATCH, DELETE, OPTIONS"
CORS_ALLOWED_HEADERS="Accept, Authorization, Content-Type, X-Request-ID, Origin, X-Requested-With"
CORS_EXPOSED_HEADERS=X-Request-ID
CORS_ALLOW_CREDENTIALS=false
CORS_MAX_AGE=3600
CORS_DEBUG=true # true for local, false for dev and prod

# VALIDATOR
PASSWORD_REGEX="^[A-Za-z\\d@$!%*?&]{8,}$"

# JWT
JWKS_ENDPOINT=http://localhost:8080/v1/.well-known/jwks.json